<div class="container">
  <div class="row">
    <% @flickr_images.each do |image| %>
      <div class="col-3">
        <%= image_tag image.url, alt: image.owner, width: "100%" %>
        <%= image.owner %>
      </div>
    <% end %>
  </div>
</div>
